Package: rockpi-penta
Version: %%VERSION%%
Architecture: %%ARCH%%
Maintainer: Radxa <dev@radxa.com>
Section: utils
Priority: optional
Homepage: https://github.com/radxa/rockpi-penta
Description: Rockpi Penta SATA HAT
 Fan control, OLED display, and button handling for the
 Radxa Penta SATA HAT on Raspberry Pi and Rockchip SBCs.
